@font-face {
    font-family: "Norse-Bold";
    src: url("../Norse-Bold.otf");
}

:root {
    --color-conf: red;
    --color-new: green;
}

.body {
    margin: 0;
}

.sign_up_page {
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    flex: 1 1 35%;
    background-image: url(../denis-linine-W4o1oWx0k0g-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
    --main-height: 100vh;
    --left-body: 20vh;
    --logo-body: 65vh;
}

.left_body {
    width: 100%;
    --left-height: calc(var(--main-height) - var(--left-body));
    height: var(--left-height);
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.logo_body {
    --logo-height: calc(var(--left-height) - var(--logo-body));
    display:flex;
    justify-content: center;
    column-gap: 0.5rem;
    height: var(--logo-height);
    padding: 0.5rem 0;
    background-color: #0f110f77;
}

.logo_img {
    height: 100%;
}

.logo_txt {
    align-self: center;
    font-size: calc(var(--logo-height));
    color: #fff;
    font-family: "Norse-Bold";
}

.credit {
    text-align: center;
    color: white;
    font-family: "Norse-Bold";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.credit > :first-child > * {
    color: white;
}

.right {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.intro {
    font-size: 1.2rem;
    width: 65%;
    margin: 0;
    padding: 2rem 3rem;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.intro :first-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.form_div {
    display:flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.form_input {
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 2rem 3rem;
    margin-bottom: 1.7rem;
    box-shadow: 0 3px  5px 1px #aaa6;
}

.form_title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
}

.form_group {
    display: flex;
    column-gap: 3rem;
}

.form_group > * {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.new_pass, .conf_password {
    position: relative;
    display: flex;
    flex-direction: column;
}

.new_pass::after, .conf_password::after {
    content: attr(data-check);
    align-self: center;
    position: absolute;
    top: 50%; 
    right: -1.5rem;
    color: var(--color-red, --color-green);
    transform: translateY(-50%);
}

.new_pass::after {
    color: var(--color-new);
}

.conf_password::after {
    color: var(--color-conf);
}
 .error {
    position: absolute;
    font-size: 0.7rem;
    color: red;
    bottom: 1rem;
    margin: 0;
}

.submit_info {
    padding-left: 3rem;
}

.submit_btn {
    padding: 0.8rem 3rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    letter-spacing: 0.5px;
    box-shadow: 0.5px 3px 5px #afafafdf;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}

.submit_btn:active {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #596D48;
}

.submit_btn:hover {
    background-color: #495D38;
}

.input {
    padding: 0.4rem;
    font-weight: bold;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    border: 1px solid #aaa;
}

.reject {
    border: 1px solid #da3433;
}

.accept {
    border: 1px solid #3cd81d;
}

.input:focus {
    outline: none;
    border: none;
    padding: 0.4rem;
    border: 1px solid #1d4ed8;
    box-shadow: 2px 2px 3px #ccce;

}

.reject:focus {
    border: 1px solid #da3433;
}

.accept:focus {
    border: 1px solid #3cd81d;
}

.form_group > * > label {
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding-bottom: 0.1rem;
}

.submit_info :last-child {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.submit_info :last-child > :first-child {
    color: #596D48;
}

@media (orientation: portrait ) {
    .sign_up_page {
        flex-direction: column;
    }

    .left_body {
        width: 100%;
        --main-height: 50vh;
        --left-body: 7.5vh;
        --logo-body: 36.5vh;
    }

    .form_group {
        flex-direction: column;
        gap: 1rem;
    }

    .form_group > * {
        width: 80%;
    }

    .form_group > * > label {
        padding-bottom: 0.2rem;
    }

    .intro {
        width: 75%;
    }
}