@font-face {
    font-family: "Norse-Bold";
    src: url("../Norse-Bold.otf");
}

.body {
    margin: 0;
}

.sign_up_page {
    display: flex;
    --width: 100%;
    --padding: 0 0 3rem 3rem;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    flex: 1 1 35%;
    background-image: url(../denis-linine-W4o1oWx0k0g-unsplash.jpg);
    background-size: cover;
}

.logo_body {
    position:relative;
    background-color: #0f110f77;
    --height: 7rem;
    height: var(--height);
    display:flex;
    top: 6rem;
    padding: 0.5rem 0;
    justify-content: center;
}

.logo_img {
    height: var(--height);
}

.logo_txt {
    align-self: center;
    font-size: calc(var(--height) - 1.5rem);
    color: #fff;
    font-family: "Norse-Bold";
}

.credit {
    position: relative;
    top: 70vh;
    text-align: center;
    color: white;
    font-family: "Norse-Bold";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.credit > :first-child > * {
    color: white;
}
.right {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.intro {
    font-size: 1.2rem;
    width: 65%;
    margin: 0;
    padding: var(--padding);
    word-spacing: 1px;
    letter-spacing: 0.5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.intro :first-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.form_div {
    display:flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.form_input {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 2rem 3rem;
    margin-bottom: 1.7rem;
    box-shadow: 0 3px  5px 1px #aaa6;
}

.form_title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
}

.form_group {
    display: flex;
    column-gap: 3rem;
}

.form_group > * {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.error {
    padding: 0;
    margin: 0;
}

.submit_info {
    padding-left: 3rem;
}

.submit_btn {
    padding: 0.8rem 3rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    letter-spacing: 0.5px;
    box-shadow: 0.5px 3px 5px #afafafdf;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}

.submit_btn:active {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #596D48;
}

.submit_btn:hover {
    background-color: #495D38;
}

.form_group > * > input{
    padding: 0.4rem;
    font-weight: bold;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    border: 1px solid #aaa;
}

.form_group > * > input:focus {
    outline: none;
    border: none;
    padding: 0.4rem;
    border: 1px solid #1d4ed8;
    box-shadow: 2px 2px 3px #ccce;

}

.form_group > * > label {
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding-bottom: 0.1rem;
}

.submit_info :last-child {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.submit_info :last-child > :first-child {
    color: #596D48;
}