.body {
    margin: 0;
}

.sign_up_page {
    display: flex;
    --width: 100%;
    --padding: 0 0 3rem 3rem;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    flex: 1 1 30%;
    background-image: url(../halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.right {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.intro {
    font-size: 1.2rem;
    width: 65%;
    margin: 0;
    padding: var(--padding);
    word-spacing: 1px;
    letter-spacing: 0.5px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.intro :first-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.form_div {
    display:flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.form_input {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 2rem 3rem;
    margin-bottom: 1.7rem;
}

.form_title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
}

.form_group {
    display: flex;
    column-gap: 3rem;
}

.form_group > * {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.submit_info {
    padding-left: 3rem;
}

.submit_btn {
    padding: 0.7rem 3rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 0.3rem;
    outline: 1px solid #3b4723;
    margin-bottom: 1.5rem;
}

.form_group > * > input{
    padding: 0.25rem 0.3rem;
    font-weight: bold;
}

.form_group > * > label {
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding-bottom: 0.1rem;
}

.submit_info :last-child {
    font-size: 0.8rem;
}